<h3> Python - introduction

In [1]:
x = 13 #creating a variable

In [2]:
print(x)

13

In [3]:
x = 13
x = x+1
print(x)

14

In [4]:
x = 13
x += 1
print(x)

14

In [5]:
a = 5
b = 2.3

c = a+b  #other basic operators: *, +, -, /

In [6]:
print(c)

7.3

In [7]:
y = 2**3 #power of a number    
print(y)

8

In [8]:
z = 7%5 #modulo    
print(z)

2

<h4> Exercise: Define a variable $z$ as $\frac{2^4+5}{6 - 123}$. Print the variable.

In [9]:
#your code

-0.1794871794871795

<h3> Variables

<h4> Numbers

In [10]:
x = 7  #integer
print(type(x))

<class 'int'>

In [11]:
y = 7.5 #rational number
print(type(y))

<class 'float'>

In [12]:
z = 2**0.5  #irrational number
print(type(z))

<class 'float'>

<h4> Strings

In [1]:
s = "Scientific computing" #creating a string

In [2]:
print(s)

Scientific computing

In [15]:
print(type(s))

<class 'str'>

<h4> Operations on strings

In [16]:
len(s) #length of the string (number of characters)

37

In [17]:
s[0] #first character

'P'

In [18]:
s[0:4] #characters from 0 to 3

'Pyth'

In [19]:
s[10:] #characters from s[10] till the end

'gramming for bioinformatics'

In [20]:
w = s.replace("o", "X") #replace all "o" character by "X"
print(w)

PythXn prXgramming fXr biXinfXrmatics

In [21]:
text = "agC aagca ta"
text.count("a")  #count the number of occurences of "a" in text

5

In [22]:
x1 = "abc" #let's define a string x1
x2 = "def" #let's define a string x2

print(x1+x2)

abcdef

In [23]:
a1 = "1"
a2 = "2"

print(a1+a2)

12

In [24]:
print(float(a1)+float(a2))

3.0

<h4> Lists

In [25]:
x = [1,2,-5,10,17,"a"] #defining a list

In [26]:
print(x)

[1, 2, -5, 10, 17, 'a']

In [27]:
print(type(x))

<class 'list'>

In [28]:
print(len(x)) #length of the list

6

In [29]:
x[0] #the first element of the list

1

In [30]:
x[2] = 16 #set the third element of x as 16
print(x)

[1, 2, 16, 10, 17, 'a']

In [31]:
y = [] #let's define an empty list

y.append(3) #add 3 number to the list
print(y)

[3]

In [32]:
w = ["a", 1, 2, "b", "c"] #list can contain different types of variables

In [33]:
w.remove("a") #removing the "a" element
print(w)

[1, 2, 'b', 'c']

In [34]:
w.pop(3) #removing w[3] element
print(w)

[1, 2, 'b']

<h4> Exercise: Create a list that contains 5 elements where some of them are numbers, and others are strings.

In [1]:
#your code

<h4> Tuples

In [35]:
x = (1,2,3,55) #defining a tuple (tuple takes lesss space in memory)

In [36]:
print(type(x))

<class 'tuple'>

In [37]:
print(x)

(1, 2, 3, 55)

In [38]:
print(x[0])

1

In [39]:
#x[2] = 16 # we cannot modify tuple elements

<h4> Sets

In [40]:
s = {1,2,3,4,5} #there is no order in a set
print(s)

{1, 2, 3, 4, 5}

In [41]:
#an example of sets' application 

l = [1,1,2,2,2,3]
s = list(set(l))
print(s)

[1, 2, 3]

<h4> Dictionaries

In [42]:
w = {"a":[1,2,3], "b":[4,4,12], "c":[6,1,0]} #defining a dictionary, a dictionary contains keys: 'a', 'b' and 'c' and values for each key
print(w)

{'a': [1, 2, 3], 'b': [4, 4, 12], 'c': [6, 1, 0]}

In [43]:
print(type(w))

<class 'dict'>

In [44]:
print(w["a"])

[1, 2, 3]

In [45]:
print(w.keys()) #keys

dict_keys(['a', 'b', 'c'])

In [46]:
print(w.values()) #values

dict_values([[1, 2, 3], [4, 4, 12], [6, 1, 0]])

In [47]:
print(w.items()) #all

dict_items([('a', [1, 2, 3]), ('b', [4, 4, 12]), ('c', [6, 1, 0])])

In [48]:
{'a':1, 'b':3} == {'b':3, 'a':1} #dictionaries are unordered, for example {"a":1, "b":2} is the same as {"b":2, "a":1}

True

In [49]:
#Creating a dictionary using 2 lists

keys = ["M1","M2"]
values = [[1,2,3,4],[5,6,7,8]]

d = dict(zip(keys, values))

In [50]:
print(d)

{'M1': [1, 2, 3, 4], 'M2': [5, 6, 7, 8]}

In [51]:
d["M3"] = [5,6,11,10] #adding key with value

In [52]:
print(d)

{'M1': [1, 2, 3, 4], 'M2': [5, 6, 7, 8], 'M3': [5, 6, 11, 10]}

<h4> Exercise: Let's define two lists: ["a1","a2","a3"] and [[3,4],[6,7],[8,6]], and then create a dictionary, where the elements from the first list are keys, and values come from the second one.

<h4> Loops

In [53]:
#print subsequent numbers from 0 to 7

for i in range(8):  
    print(i)

0
1
2
3
4
5
6
7

In [54]:
#sum up the subsequent numbers from 3 to 11

S = 0
for i in range(3,12):
    S += i

In [55]:
print(S)

63

<h4> Exercise: Calculate the product of subsequent numbers from 5 to 18 i.e.:  $5 \cdot 6\cdot7...\cdot18$

In [56]:
#your code

266765571072000

<h4> Logic operators

In [57]:
1+2 == 4 #whether 1+2 equals 3?

False

In [58]:
1+2 != 5 #wheter 1+2 does not equal 5?

True

In [59]:
True and True

True

In [60]:
True or False

True

In [61]:
not True

False

In [62]:
"a" in "abcd" #wheter "a" character is in "abcd" string?

True

In [63]:
if 3>2 and 5<0:
    print("Three is greater than two and five is less than 0.")
else:
    print("Three is less than two or five is greater than 0.")

Three is less than two or five is greater than 0.

In [1]:
#print all elements from list which are greater than 4

x = [1,-2,14,6,2,4,13]

for elem in x:
    if elem > 4:
        print(elem)

14
6
13

<h4> Exercise: Let's define a list x=[1,3,4,7,10,14,−3,0] and create a new list which contains elements from x which are less than 5.

In [65]:
#your code

[1, 3, 4, -3, 0]

<h4> While loop

In [66]:
number = 5

while number > 0:
    print(number)
    number -= 1

5
4
3
2
1

<h4> Functions

In [67]:
# define a function that check whether a number is negative

def whether_negative(x):
    if x >= 0: 
        return "non negative"
    else:
        return "negative"

In [68]:
print(whether_negative(4))

non negative

In [69]:
print(whether_negative(-7))

negative

In [70]:
# define a function that makes a square root of value passed

def square_root(x):
    return x**0.5

In [71]:
print(square_root(36))

6.0

<h4> Exercise: Define a function Sign that takes a list of numbers and returns a list that contains 1 when element was non negative and -1 when element was negative. Applying this function to [3,4,-1,0,-4,1] one should obtain [1,1,-1,1,-1,1].

In [72]:
#your code

[1, 1, -1, 1, -1, 1]

<h4> Some remarks

- the name of variables should not start with a number:

In [73]:
#1x = 40  #bad name

In [74]:
x1 = 40 #good name (names can include numbers but not as a first character)

In [75]:
#x y = 50  #name for variable can not include spaces - we can use _

In [76]:
x_y = 50  #good name, other solution:   xy=50

- take care about indentations (especially in: for/while loop, if conditon, defining a function) - using Tab

- use comments to make your code clear for a reader and for yourself

In [77]:
for i in range(2,5): #for numbers 2,3,4 (without 5) 
    print(i)         #printing subsequent number

2
3
4

- for commenting many lines use """ comment """"

In [78]:
def MyFunction(x):
    
    """My fuction adds 3 to an argument.
    Making a comment inside
    a function is a good practice"""
    
    return x+3

In [79]:
print(MyFunction(5))

8

- if your code is large (many many lines), write it for example in text editor and next copy it into Python compiller

<h4> Example: Create a list that contains 20 elements. The first element is 5 and each subsequent element is 3 greater than the previous one.

In [80]:
#Solution

x = [5] #we create a list thah contains the first element - 5

while len(x) < 20:      #while the lenghth of the list x is less than 20 do sth
    x.append(x[-1]+3)   #append subsequent element to to the list x, which is the sum of the last element from x (x[-1]) and 3

In [81]:
print(x)

[5, 8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44, 47, 50, 53, 56, 59, 62]

<h4> Example: We will construct a sequence. The first two numbers are 2 and 3. The next number is the sum of the previous two. As a result, we have 2, 3, 5, 8, 13, 21,... Create a list in Python that contains the first 10 elements of this sequence.

In [82]:
#Solution

x = [2,3] #we create a list that contains the first two elements

while len(x) < 10:
    x.append(x[-1]+x[-2])  #adding the last two elements of the list x

<h4> Exercise: We will construct a sequence. The first three numbers are 0.5, 1 and 2. The next numbers is the product of the previous three. As a result, we have 0.5, 1, 2, 1, 2, 4, 8, 64, ... Create a list in Python that contains the first 10 elements of this sequence.

In [2]:
#your code

<h4> Example: Let's write a function Factorial that return the product of all natural numbers less or equal than a given number. For example Factorial(5) should return 120 (because 1⋅2⋅3⋅4⋅5=120).

In [3]:
# Solution

def Factorial(x):
    
    """
    This function returns the product
    of all natural numbers less 
    or equal than a given number.
    """
    
    if x==1:   #if our number is 1, return 1
        return x
    elif x>1: #if our number is greater than 1, second case
        n=1   #let's define a variable n = 1
        for i in range(1,x+1):   #range(1,x+1) includes numbers 1,2,3,4...., x
            n=n*i  #we multiply n by 1,2,3,4 etc. until x using for loop
        return n
    else:
        return "Your number is not a natural number!"

In [84]:
print(Factorial(1))

1

In [85]:
print(Factorial(5))

120

In [86]:
print(Factorial(-2))

Your number is not a natural number!

<h4> Exercise: Let's write a function SumAll that return the sum of all natural numbers less or equal than a given number. For example SumAll(5) should return 15 (because 1+2+3+4+5 = 15).

In [4]:
#your code

<h4> Example: Create a function RestOne (with two arguments: n and x) that returns the list containing natural numbers from 1 to n, which gave the rest 1 when divided by x.

In [5]:
#Solution

def RestOne(n, x):
    
    """
    This function returns the list
    containing natural numbers from 
    1 to n, which gave the rest 1 
    when divided by x
    """
    
    a = []  #creating an empty list
    for i in range(1, n+1):
        if i%x == 1:
            a.append(i)
    return a

In [88]:
print(RestOne(20, 5))   #1 = 5*0 +1,    6 = 5*1 +1,    11=5*2 +1,   16=5*3 +1

[1, 6, 11, 16]

<h4> Exercise: Create a function WhichPrime (with one argument n) that returns the list containing prime numbers from 1 to n. For example WhichPrime(20) should return [2,3,5,7,11,13,19].

Hint: Prime number is a natural number (greater than 1) that is divided only by 1 and itself, so if I divide natural number p by 2,3,4,...,p-1 I get the rest greater than 0.

In [6]:
#your code